.title {
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center;
  position: relative;
}

.body {
    transition: opacity 3s; /* opacity要素(不透明度)の変更を3秒間かけて行う */
}
.spin_cent {
  text-align: center;
}

.reset {
  position: absolute;
  left: 0; /* 左端に配置 */
  top: 0;  /* 上端に配置 */
  width: 150px;
}

.crown {
  max-width: 30px;
}

.title_logo{
  width: 70%;
}

.logo-container img{
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -50px;
}

.logo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 130px;
  max-height: 120px;
  padding: 20px;
  padding-top: 100px;
  transition: opacity 3s;
  position: relative;
}

.footer {
  text-align: center;
  margin-top: 100px;
}

.rotate_a {
  width: 300px;
  height: 300px;
  margin: 0 auto; /* 横方向の中央揃え */
  animation: rotate_anime 4s linear infinite;
}

@keyframes rotate_anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#hidden_logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1000;
  background-color: white;
}
