.title {
  display: flex;
  justify-content: center;
  position: relative;
}

.spin_cent {
  text-align: center;
}

.reset {
  position: absolute;
  left: 0;
  top: 0; 
  width: 10%;
}

.crown {
  max-width: 30px;
}

.title_logo{
  width: 70%;
}

.logo-container img{
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -50px;
}

.logo-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 130px;
  max-height: 120px;
  padding: 20px;
  padding-top: 100px;
  transition: opacity 3s;
}

.footer {
  text-align: center;
  margin-top: 100px;
}

.rotate_a {
  width: 20%;
  height: 20%;
  animation: rotate_anime 4s linear infinite;
}
@keyframes rotate_anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#hidden_logo {
  position: fixed;
  width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  animation: logo 2s ease-in-out forwards ;
}
@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hidden_bom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
  animation: zoom_in 2s ease-in-out forwards ;
}
@keyframes zoom_in {
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}